<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2" style="background: white;">
                    <h1 class="brand-heading">Buckets</h1>
                    <p class="intro-text">How much money you have?<br> A bank balance tool created by Sean Falese.</p>


                </div>
            </div>
        </div>
    </div>
</header>
