<div class="container">
  <div class="col-xs-12">
  <h1 style="color:red; font-family: 'Roboto', sans-serif;"><%= @user.user_name %></h1>
  </div>
<div class="col-md-4">
<%= @user.token_id %>
</div>

<div class="col-md-4">
</div>
<div class="col-md-4">
  <p>
<h3 style="font-family: 'Roboto', sans-serif;"><strong>Accounts</strong></h3>

</p>
<div class ="table-responsive">
  <table class="table table-hover">

    <tr>
      <th>Account Name</th>
      <th>Balance</th>
      <th>Projected Balance</th>
    </tr>
    <!--Insert account iteration here-->
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>

    </table>
  </div>
  <p>
<h3 style="font-family: 'Roboto', sans-serif;"><strong>Transactions</strong></h3>

</p>
  <div class ="table-responsive">
    <table class="table table-hover">
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Account</th>
      </tr>

        <!--insert transaction iteration here-->
      <tr>
        <td></td>
        <td> </td>
      </tr>

    </table>
  </div>
